[Unit]
Description=rclone service failure notification 

[Service]
Type=oneshot
Environment=SERVER_NAME='Awesome server'
Environment=MOUNT_NAME='Google Drive'
Environment=KEY=123456789
Environment=URL=https://example.com
ExecStart=/usr/bin/curl -X POST -H "Content-Type: application/json" -d "{\"key\":\"${KEY}\", \"title\":\"${MOUNT_NAME} mount error (${SERVER_NAME})\", \"msg\":\"${MOUNT_NAME} is not mounted correctly in ${SERVER_NAME}\"}" ${URL}