[Unit]
Description=rclone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/home/puser/.config/rclone/rclone.conf

ExecStart=/usr/bin/rclone mount gdcrypt: /home/puser/mediabox/gd \
--config=/home/puser/.config/rclone/rclone.conf \
--allow-other \
--buffer-size 1G \
--dir-cache-time 96h \
--log-level INFO \
--log-file /home/puser/logs/rclone.log \
--timeout 1h \
--umask 002 \
--user-agent rcloneapp \
--rc
ExecStop=/bin/fusermount -uz /home/puser/mediabox/gd
Restart=on-failure
RestartSec=5s
User=puser
Group=puser

[Install]
WantedBy=multi-user.target