[Unit]
Description=rclone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/home/**USERNAME**/.config/rclone/rclone.conf

ExecStart=/usr/bin/rclone mount gdcrypt: /mnt/gd \
--config=/home/**USERNAME**/.config/rclone/rclone.conf \
--allow-other \
--buffer-size 1G \
--dir-cache-time 96h \
--log-level INFO \
--log-file /home/**USERNAME**/logs/rclone.log \
--umask 002 \
--user-agent rcloneapp \
--fast-list 
ExecStop=/bin/fusermount -uz /mnt/gd
Restart=on-failure
RestartSec=5s
User=**USERNAME**
Group=**USERNAME**

[Install]
WantedBy=multi-user.target